<div class="backdrop"></div>
<dialog open id="account-dialog-section">
  <div id="modal-header">
    <h2>{{ modalHeader }}</h2>
    <button id="close-modal-btn" type="button" (click)="onCloseDialog()">
      X
    </button>
  </div>
  @if(modalHeader === 'Login'){
  <app-login
    (registerTrigger)="loginRegisterSwitch($event)"
    (closeDialog)="onCloseDialog()"
    (loginSuccessfull)="onLoginSuccessfull()"
  />
  } @else {
  <app-register
    (loginTrigger)="loginRegisterSwitch($event)"
    (closeDialog)="onCloseDialog()"
  />
  }
</dialog>
