#account-section {
  width: 40rem;
  margin: auto;
  margin-top: 2rem;
}

#modal-header {
  border-bottom: 1px solid #172ca2;
  padding: 8px 16px;
  background-color: #172ca2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
}

#modal-header h2 {
  margin: 0;
  color: #fff;
  font-size: 30px;
}

#nested-routes {
  border: 1px solid gray;
  border-radius: 0 0 10px 10px;
}
