#sidenav{
    width: 300px;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

#app-products-section {
    background-color: #f4f4f4;
    display: flex;
    height: calc(100vh - 60px);
}

#products-list-section {
    width: calc(100% - 300px);
    height: calc(100vh - 92px);
    overflow-y: auto;
    padding: 16px;
    display: flex;
    gap: 0.7rem;
    flex-wrap: wrap;
}

#loader-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}